<!DOCTYPE html>
<html>
    <head>
        <title>מדח"כ - הכלי הפשוט לבחירת המועמדים בפריימריס</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta property="og:title" content='מדח"כ' />
        <meta property="og:type" content='website' />
        <meta property="og:image" content='http://www.mitpakdim.co.il/site/primaries/app/static/thumbnail-01.jpg' />
        <meta property="fb:app_id" content='362298483856854' />
        <meta property="og:description" content=
            "המדח&quot;כ הינו למעשה פיתוח טכנולוגי חכם אשר שואב את המידע מאתר כנסת פתוחה ומציג פרופיל עדכני של כל מועמד,
             על-פי הפעילות הפרלמנטרית שלו בכנסת, או הצהרת הכוונות שלו, במידה והוא מתמודד חדש. " />

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35688660-1']);
          _gaq.push(['_setDomainName', 'mitpakdim.co.il']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <script src='http://connect.facebook.net/en_US/all.js'></script>

        <script type="text/javascript" src="lib/underscore-1.4.2.js"></script>
        <script type="text/javascript" src="lib/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="lib/jquery-ui-1.9.0/js/jquery-ui-1.9.0.custom.js"></script>
        <script type="text/javascript" src="lib/backbone-0.9.2.js"></script>
        <script type="text/javascript" src="data/agenda.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/party.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/party_extra.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/member_extra.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/combined_newbies.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/combined_members.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/recommendations.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="mitpakdim.js"></script>
        <link href='mitpakdim.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="lib/jquery-ui-1.9.0/css/smoothness/jquery-ui-1.9.0.custom.css">
    </head>
    <body>
        <div class="page_top_bar">
            <div class="content">
                <div class="icons">
                    <a class="oknesset" href="http://oknesset.org/" target="_blank"></a>
                    <a class="mitpakdim" href="http://mitpakdim.co.il/" target="_blank"></a>
                </div>
                <div class="fblike_container">
                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
                </div>
                <div class="text">
                    <a class="logo" href="./index.html"></a>
                    <div class="links">
                        <a href="./qna.html" target="_blank">שאלות ותשובות</a>
                    </div>
					<div class="separator4menu"></div>
                    <div class="links">
                        <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHhGX1lVQV9HcWdBNy1QWXdGR2lnLVE6MQ#gid=0" target="_blank">משוב</a>
                    </div>
					<div class="separator4menu"></div>
					<div class="links">
                        <a href="http://www.youtube.com/watch?v=nTw1IpFseFs&feature=plcp" target="_blank">סרטון</a>
                    </div>
					<div class="separator4menu"></div>
                    <div class="links">
                        <a href="./about.html" target="_blank">אודות</a>
                    </div>
                </div>
            </div>
        </div>
        <div id='fb-root'></div>
        <div id="loading">
            <h1>טוען, אנא המתן...</h1>
        </div>
        <div id="app_root" style="display:none;">
            <div class="entrance_page">
                <h1>מתפקד/ת יקר/ה,</h1>
                <p>
                    כלי זה פותח ע"י תנועת <a href="http://mitpakdim.co.il/" target="_blank">"מתפקדים"</a> ו<a href="http://www.hasadna.org.il/" target="_blank">ה"סדנא לידע ציבורי"</a> על מנת לתת לך כלים לבצע בחירה מושכלת של המועמדים בבחירות המקדימות במפלגתך (פריימריז). כל שעליך לעשות הוא לבחון את האג'נדות המוצגות ולבחור מה עמדתך לגבי כל אג'נדה. באופן אוטמטי המערכת תדרג את חברי הכנסת והמועמדים על פי מידת ההתאמה של השקפתם להשקפתך. או במילים אחרות - מי מהם באמת עבד בשבילך ב-4 שנים האחרונות ולכן סבירות גבוהה יותר שיעבוד בשבילך בכנסת הבאה.<br/>
                    לתשומת לבך: המדדים המוצגים בכלי זה נוצרו ע"י ארגונים ותנועות שונות ומייצגים את האג'נדה - השקפת העולם הסובייקטיבית של אותו ארגון לאחר ניתוח הצעות החוק והצבעות הח"כים בכנסת הנשאבים מאתר <a class="oknesset" href="http://oknesset.org/" target="_blank">"כנסת פתוחה"</a>.
                </p>
                <p>
                    בסיום השימוש בכלי תוכל/י להפיק דף/לשתף בפייס ובו כל הפרטים הדרושים לך על מנת להגיע לקלפי ולהצביע לפי השקפותיך.
                  <br>בעצם המשך השימוש בכלי הנך מצהיר על קבלת תנאי השימוש כמפורט <a class="oknesset" href="legal.html" target="_blank">כאן</a>.
 </p>
                <div class="parties_container">לשימוש בכלי בחר את המפלגה אליה התפקדת: <select class="parties"></select></div>
                <div class="districts_container">בחר את מחוז הבחירה שלך (אם קיים): <select class="districts"></select></div>
                <div class="party_selected_wrapper">
                    <div id="party_selected">בהצלחה בבחירות, לחץ כאן להמשך!</div>
                </div>
            </div>

            <div class="party_page">
                <div class="main_top">
                    <div class="instructions">
                        <div class="caption">לכל אחד מהנושאים החשובים לך, סמן את תמיכתך בו ואת חשיבותו עבורך באמצעות בחירת ערך. לפי הסרגל הבא:</div>
                        <div class="instructions_bar"></div>
                        <div class="remark">לאחר בחירת הערכים יוצגו בפניך המועמדים במפלגה לפי מידת התאמתם להשקפותיך</div>
                    </div>
                    <div class="recommendations_container">
                        <div class="caption">הצג לי המלצות של קבוצת מתפקדים הבאה:</div>
                        <div class="recommendations"></div>
                    </div>
                </div>
                <div class="agendas_container">
                    <div class="agendas"></div>
                </div>
                <div class="candidates_container">
                    <div class="current_party">
                        <div class="current_party_logo_back"></div>
                        <div id="change_party">החלף מפלגה</div>
                    </div>
                    <div class="lists_wrapper">
                        <div class="left_background"></div>
                        <div class="social_bar top">
                            <div class="vertical_aligner"></div>
                            <div class="caption">שתף את הרשימה שלך:</div>
                            <div class="fb_share"></div>
                            <div class="tweet_share"></div>
                            <div class="separator"></div>
                            <div class="caption">הדפס:</div>
                            <div class="print"></div>
                        </div>
                        <div class="members_container"><div class="title">סדר המתמודדים<strong> המכהנים </strong>לפי בחירותך</div><div class="members"></div></div
                        ><div class="newbies_container"><div class="title">סדר המתמודדים<strong> החדשים </strong>לפי בחירותך</div><div class="newbies"></div><div class="title" ><br>מופיע ברשימה רק מי <strong>שבחר</strong> להכניס את הנתונים שלו על ידי הרשמה לכלי
    					בעזרת שליחת דוא"ל לכתובת:
				<a href="mailto:primaries@mitpakdim.co.il?Subject=בקשה להרשמה למדחכ">primaries@mitpakdim.co.il</a>
						</div></div>
                        <div class="social_bar bottom">
                            <div class="vertical_aligner"></div>
                            <div class="caption">שתף את הרשימה שלך:</div>
                            <div class="fb_share"></div>
                            <div class="tweet_share"></div>
                            <div class="separator"></div>
                            <div class="caption">הדפס:</div>
                            <div class="print"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/template" id='candidate_template'>
            <div class="content<% if (is_placeholder) { %> placeholder<% } %>" title="לחץ על המתמודד, ותראה מה הן עמדותיו">
                <div class="image"><% if (typeof img_url != 'undefined') { %><img src="<%= img_url %>" /><% } %></div>
                <div class="info"  >
                <%
                    print("+".repeat(_.size(recommendation_positive)));
                    print("-".repeat(_.size(recommendation_negative)));
                    %><span class="name"><%= name %></span>
                    <div class="score<% if (score > 0) { %> positive<% } %>"><%= simplified_score %></div>
                    <div class="links">
                        <% if (typeof facebook_link_url != 'undefined') { %><a class="facebook" href="<%= facebook_link_url %>" target="_blank"><div class="icon"></div>לדף הפייסבוק</a><% } %>
                        <% if (typeof resume_link_url != 'undefined') { %><a class="resume" href="<%= resume_link_url %>" target="_blank"><div class="icon"></div>קורות חיים</a><% } %>
                        <% if (typeof oknesset_link_url != 'undefined') { %><a class="oknesset" href="<%= oknesset_link_url %>" target="_blank"><div class="icon"></div>הח"כ <strong>בכנסת פתוחה</strong></a><% } %>
                    </div>
                    <div class="role_description"><% if (typeof current_role_descriptions != 'undefined') { %><%= current_role_descriptions %><% } %></div>
                    <div class="remarks">
                        <% if (typeof change_party_remark != 'undefined') { %>
                            <div class="remark_icon change_party" title="<%= change_party_remark %>"></div>
                        <% } %>
                        <% if (typeof minister_remark != 'undefined') { %>
                            <div class="remark_icon minister_remark" title="<%= minister_remark %>"></div>
                        <% } %>
                    </div>
                </div>
            </div>			
        </script>
        <script type="text/template" id='agenda_template'>
            <div class="agenda_title">
                <div class="name_wrapper">
                    <a href="http://oknesset.org<%= absolute_url %>" target="_blank" class="name"><%= name %></a>
                    <div class="extra_info_wrapper">
                        <div class="extra_info_icon"></div>
                        <div class="extra_info">
                            <div class="name"><%= name %></div>
                            <div class="owner"><%= public_owner_name %></div>
                            <div class="description"><%= description %></div>
                            <a class="link" href="http://oknesset.org<%= absolute_url %>">למידע נוסף...</a>
                            <% if ((typeof image != "undefined") && image) { %>
                                <img class="logo" src="http://oknesset.org<%= image %>"/>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="owner">נערך ע&quot;י: <%= public_owner_name %></div>
            </a>
            </div>
            <div class="slider" id="agenda_<%= id %>"></div>
        </script>
        <script type="text/template" id='recommendation_template'>
            <div class="recommendation_item<% if (model.isSelected()) { %> selected<% } %>">
                <img src="<%= img_url %>" alt="<%= name %>" title="<%= name %>" /><br/>
                <span class="name"><%= name %></span>
                <% if (url) { %><a class="details" href="<%= url %>">לפרטים...</a><% } %>
            </div>
        </script>
    </body>
</html>
