<!DOCTYPE html>
<html>
    <head>
        <title>בחירומטר - הכלי הפשוט לבחירת המפלגה המתאימה לדיעותך</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta property="fb:app_id" content="102113249964274" />
        <meta property="og:title" content='בחירומטר' />
        <meta property="og:type" content='website' />
        <meta property="og:image" content='http://oknesset.org/static/img/oknesset-logo-small.png' />
        <meta property="og:description" content=
            "הבחירומטר הינו למעשה פיתוח טכנולוגי חכם אשר שואב את המידע מאתר כנסת פתוחה ומציג פרופיל עדכני של כל מפלגה,
             על-פי הפעילות הפרלמנטרית שלה בכנסת, או הצהרת הכוונות שלה, במידה והיא מפלגה חדשה. " />

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35688660-2']);
          _gaq.push(['_setDomainName', 'bchirometer.oknesset.org']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <script src='http://connect.facebook.net/en_US/all.js'></script>

        <script type="text/javascript" src="lib/underscore-1.4.2.js"></script>
        <script type="text/javascript" src="lib/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="lib/jquery-ui-1.9.0/js/jquery-ui-1.9.0.custom.js"></script>
        <script type="text/javascript" src="lib/backbone-0.9.2.js"></script>
        <script type="text/javascript" src="data/agenda.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/party.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/party_extra.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/member_extra.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/combined_newbies.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/combined_members.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/recommendations.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="data/party_declarations_extra.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="bmeter.js"></script>
        <link rel="stylesheet" type="text/css" href="lib/jquery-ui-1.9.0/css/smoothness/jquery-ui-1.9.0.custom.css">
        <link href='mitpakdim.css' rel='stylesheet' type='text/css'>
        <link href='bmeter.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="page_top_bar">
            <div class="content">
                <div class="icons">
                    <a class="oknesset" href="http://oknesset.org/" target="_blank"></a>
                    <a class="mitpakdim" href="http://mitpakdim.co.il/" target="_blank"></a>
                </div>
                <div class="fblike_container">
                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-href="https://www.facebook.com/open.knesset?ref=ts&amp;fref=ts"></div>
                </div>
                <div class="text">
                    <a class="sprite main-logo" href="./index.html"></a>
                    <div class="links">
                        <a href="./bmeter-qna.html">שאלות ותשובות</a>
                    </div>
                    <div class="separator4menu"></div>
                    <div class="links">
                        <a href="https://docs.google.com/spreadsheet/viewform?formkey=dEMycGJ0dGV4MnZFUzFpY2V2dFRfOEE6MA" target="_blank">משוב</a>
                    </div>
                    <div class="separator4menu"></div>
                    <div class="links">
                        <a href="./bmeter-about.html" target="_blank">אודות</a>
                    </div>
                </div>
            </div>
        </div>
        <div id='fb-root'></div>
        <div id="loading">
            <h1>טוען, אנא המתן...</h1>
        </div>
        <div id="app_root" style="display:none;">
            <div class="party_page">
                <div class="main_top">
                    <div class="instructions">
                        <div class="caption">לכל אחד מהנושאים החשובים לך, סמן את תמיכתך בו ואת חשיבותו עבורך באמצעות בחירת ערך.</div>
                        <div class="remark">לאחר בחירת הערכים יוצגו בפניך המפלגות לפי מידת התאמתם להשקפותיך</div>
                        <div class="clear_selection">אפס בחירה</div>
                    </div>
                </div>
                <div class="agendas_container">
                    <div class="agendas"></div>
                </div>
                <div class="results_container">
                    <div class="party_candidates_container">
                        <div class="lists_wrapper">
                            <div class="social_bar top">
                                <div class="vertical_aligner"></div>
                                <div class="caption">שתף את הרשימה שלך:</div>
                                <div class="fb_share"></div>
                                <div class="tweet_share"></div>
                                <div class="separator"></div>
                                <div class="caption">הדפס:</div>
                                <div class="print"></div>
                            </div>
                            <div class="half_candidates_pane">
                                <div class="title">סדר המפלגות לפי פעילותן</div><div class="parties_activity"></div>
                            </div>
                            <div class="half_candidates_pane">
                                <div class="title">סדר המפלגות לפי הצהרותיהן</div><div class="parties_declaration"></div>
                            </div>
                            <div class="social_bar bottom">
                                <div class="vertical_aligner"></div>
                                <div class="caption">שתף את הרשימה שלך:</div>
                                <div class="fb_share"></div>
                                <div class="tweet_share"></div>
                                <div class="separator"></div>
                                <div class="caption">הדפס:</div>
                                <div class="print"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/template" id='party_candidate_template'>
            <% if ((typeof is_placeholder != 'undefined') && is_placeholder){ %>
              <div class="content placeholder" title="מפלגה זו לא הכניסה נתונים לכלי ולכן היא אינה מדורגת">
            <% } else { %>
              <div class="content" title="לחץ על המפלגה, ותראה מה הן עמדותיה">
            <% } %>
                <div class="party-info">
                    <div class="party-image"><% if (typeof picture_url != 'undefined') { %><img src="<%= picture_url %>" /><% } %></div>
                    <span class="name"><%= name %></span>
                    <span class="party-score score<% if (score > 0) { %> positive<% } %>"><%= simplified_score %></span>
                    <div class="links">
                        <% if (typeof oknesset_link_url != 'undefined') { %>
                            <a class="oknesset" href="<%= oknesset_link_url %>" target="_blank">
                                <div class="sprite icon icon-ok"></div>מידע <strong>בכנסת פתוחה</strong>
                            </a>
                        <% } %>
                        <% if (typeof homepage_link_url != 'undefined') { %>
                            <a class="oknesset" href="<%= homepage_link_url %>" target="_blank">
                                <div class="sprite icon icon-web"></div>האתר הרשמי</strong>
                            </a>
                        <% } %>
                        <% if (typeof facebook_link_url != 'undefined') { %>
                            <a class="oknesset" href="<%= facebook_link_url %>" target="_blank">
                                <div class="sprite icon icon-fb"></div>עמוד הפייסבוק</strong>
                            </a>
                        <% } %>
                        <% if ((typeof party_name === 'undefined') || (party_name != "רשימת המפלגות")){ %>
                            <a class="mdhk" href="#">
                                    <div class="sprite icon icon-notice"></div>המפלגה במדח&quot;כ</strong>
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id='agenda_template'>
            <div class="agenda_title">
                <div class="name_wrapper">
                    <a href="http://oknesset.org<%= absolute_url %>" target="_blank" class="name"><%= name %></a>
                    <div class="extra_info_wrapper">
                        <div class="sprite icon-extra-info"></div>
                        <div class="extra_info">
                            <div class="name"><%= name %></div>
                            <div class="owner"><%= public_owner_name %></div>
                            <div class="description"><%= description %></div>
                            <a class="link" href="http://oknesset.org<%= absolute_url %>">למידע נוסף...</a>
                            <% if ((typeof image != "undefined") && image) { %>
                                <img class="logo" src="http://oknesset.org<%= image %>"/>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="owner">נערך ע&quot;י: <%= public_owner_name %></div>
            </a>
            </div>
            <div class="slider" id="agenda_<%= id %>"></div>
        </script>
        <script type="text/template" id='recommendation_template'>
            <div class="recommendation_item<% if (model.isSelected()) { %> selected<% } %>">
                <img src="<%= img_url %>" alt="<%= name %>" title="<%= name %>" /><br/>
                <span class="name"><%= name %></span>
                <% if (url) { %><a class="details" href="<%= url %>">לפרטים...</a><% } %>
            </div>
        </script>
    </body>
</html>
