#app_root {
    direction : rtl;
    font-family : Arial, Helvetica, Sans-serif;
    vertical-align : top;
    width : 100%;
}
.agendas_section {
    margin : 0 auto;
    width : 960px;
    white-space : nowrap;
}
.agendas_section > * {
    white-space : normal;
}
.agendas_container {
    width : 410px;
    display : inline-block;
    vertical-align : top;
}
.agenda_item {
    border-width : 0 0 1px 0;
    border-color : #348dc5;
    border-style : solid;
    font-size : 14px;
    font-weight : 700;
    padding : 10px 0 15px 0;
}
.agenda_item .ui-slider {
    border-width : 0;
    margin-top : 10px;
    height : 22px;
    width : 386px;
}
.agenda_item .ui-slider-back {
    border-width : 0;
    background-image : url("./static/slider_back.png");
    height : 22px;
    width : 408px;
    position : absolute;
    top : 0;
    left : -11px;
}
.agenda_item .ui-slider-handle.ui-state-default {
    border-width : 0;
    background : none;
    background-image : url("./static/grey_handle.png");
    height : 27px;
    width : 27px;
    top : -3px;
    outline : none;
}
.agenda_item .ui-slider.plus .ui-slider-handle.ui-state-default {
    background-image : url("./static/blue_handle.png");
}
.agenda_item .ui-slider.minus .ui-slider-handle.ui-state-default {
    background-image : url("./static/yellow_handle.png");
    height : 28px;
    width : 28px;
}
.agenda_item .ui-slider .ui-slider-mid-range {
    background-color : #00507d;
    height : 20px;
    position : absolute;
    top : 1px;
}
.agenda_item .ui-slider.minus .ui-slider-mid-range {
    background-color : #fcbb2b;
}
.agenda_item .ui-slider-minus-button {
    background-image : url("./static/minus_sign.png");
    position : absolute;
    top : 0;
    left : -11px;
    height : 22px;
    width : 22px;
}
.agenda_item .ui-slider-plus-button {
    background-image : url("./static/plus_sign.png");
    position : absolute;
    top : 0;
    right : -11px;
    height : 22px;
    width : 22px;
}
.agenda_item .ui-slider-candidate-marker {
    background-color : #d1e0be;
    position : absolute;
    top : 0;
    z-index : 1;
    height : 100%;
    width : 0.5em;
}



.candidates_container {
    width : 500px;
    display : inline-block;
    margin-right : 30px;
    vertical-align : top;
}
.candidates_container .lists_wrapper {
    border-color : #fff;
    border-width : 1px;
    white-space : nowrap;
}
.candidates_container .lists_wrapper > * {
    white-space : normal;
}
.members_container {
    display : inline-block;
    width : 50%;
}
.newbies_container {
    display : inline-block;
    width : 50%;
}
.candidate_instance {
    cursor : pointer;
    min-height : 60px;
    padding : 10px 0 10px 0;
    position : relative;
}
.candidate_instance .image {
    background-color : #eee;
    border-color : #348dc5;
    border-width : 1px;
    border-style : solid;
    border-radius : 2px;
    position : absolute;
    top : 10px;
    right : 0;
    height : 60px;
    width : 47px;
    overflow : hidden;
}
.candidate_instance .image img {
    width : 100%;
}
.candidate_instance .info {
    display : inline-block;
    margin-right : 60px;
}
