window, body {
    margin : 0;
    padding : 0;
}
body {
    font-family : Arial, Helvetica, Sans-serif;
}
.page_top_bar {
    background-image : url("./static/header_back.png");
    background-repeat : repeat;
    height : 66px;
    width : 100%;
    direction : rtl;
    position : relative;
    z-index : 1;
}
.page_top_bar .content {
    width : 960px;
    margin : 0 auto;
    position : relative;
    padding-top : 20px;
}
.page_top_bar .icons {
    background-image : url("./static/header_icons.png");
    height : 62px;
    width : 234px;
    position : absolute;
    top : 2px;
    left : 10px;
}
.page_top_bar .text .logo {
    background-image : url("./static/header_text.png");
    display : inline-block;
    height : 29px;
    width : 91px;
    margin-top : -1px;
    margin-right : 19px;
    vertical-align : middle;
}

.page_top_bar .text .links {
    color : #fff;
    display : inline-block;
    font-size : 14px;
    font-weight : 700;
    padding-right : 40px;
    vertical-align : middle;
}
.page_top_bar .text .links a {
    color : #fff;
}


.entrance_page {
    background-image : url("./static/party_select_back.png");
    height : 321px;
    width : 436px;
    margin : 130px auto 0 auto;
    padding : 30px 50px 30px 50px;
}
.entrance_page h1 {
    color : #00507F;
    font-size : 18px;
    font-weight : 700;
    padding : 0;
    margin : 0;
}
.entrance_page p {
    font-size : 13px;
    font-weight : 400;
}
.entrance_page .parties_container,
.entrance_page .districts_container {
    color : #00507F;
    font-size : 14px;
    font-weight : 600;
}
.entrance_page input {
    margin-top : 20px;
}

#loading {
    direction : rtl;
    width : 960px;
    margin : 0 auto;
}
#loading h1 {
    color : #00507F;
    font-size : 18px;
    padding : 20px;
}


#app_root {
    direction : rtl;
    vertical-align : top;
    width : 100%;
    padding-bottom : 270px;
}
.party_page {
    margin : 0 auto;
    width : 960px;
    white-space : nowrap;
}
.party_page > * {
    white-space : normal;
}
.main_top {
    background-image : url("./static/instructions_back.png");
    height : 125px;
    width : 980px;
    margin-right : -10px;
}
.main_top > * {
    display: inline-block;
}
.instructions {
    margin : 0 17px 0 0;
}
.instructions .caption {
    color : #00507F;
    font-size : 14px;
    font-weight : 600;
    margin : 10px 12px 0 0;
    width : 400px;
}
.instructions_bar {
    background-image : url("./static/instructions.png");
    height : 57px;
    width : 426px;
}
.agendas_container {
    display : inline-block;
    margin-right : 12px;
    width : 410px;
    vertical-align : top;
}
.agendas {
    margin-top : 30px;
}
.agenda_item {
    border-width : 0 0 1px 0;
    border-color : #348dc5;
    border-style : solid;
    font-size : 14px;
    font-weight : 700;
    height : 58px;
    padding : 10px 0 15px 0;
    position : relative;
}
.agenda_item .ui-slider {
    border-width : 0;
    margin: 15px auto 0 auto;
    height : 22px;
    width : 386px;
}
.agenda_item .ui-slider-back {
    border-width : 0;
    background-image : url("./static/slider_back.png");
    height : 22px;
    width : 408px;
    position : absolute;
    top : 0;
    left : -11px;
}
.agenda_item .ui-slider-handle.ui-state-default {
    border-width : 0;
    background : none;
    background-image : url("./static/grey_handle.png");
    height : 27px;
    width : 27px;
    top : -3px;
    outline : none;
}
.agenda_item .ui-slider.plus .ui-slider-handle.ui-state-default {
    background-image : url("./static/blue_handle.png");
}
.agenda_item .ui-slider.minus .ui-slider-handle.ui-state-default {
    background-image : url("./static/yellow_handle.png");
    height : 28px;
    width : 28px;
}
.agenda_item .ui-slider .ui-slider-mid-range {
    height : 20px;
    position : absolute;
    top : 1px;
}
.agenda_item .ui-slider.plus .ui-slider-mid-range {
    background-color : #00507d;
}
.agenda_item .ui-slider.minus .ui-slider-mid-range {
    background-color : #fcbb2b;
}
.agenda_item .ui-slider-minus-button {
    background-image : url("./static/minus_sign.png");
    position : absolute;
    top : 0;
    left : -11px;
    height : 22px;
    width : 22px;
}
.agenda_item .ui-slider-plus-button {
    background-image : url("./static/plus_sign.png");
    position : absolute;
    top : 0;
    right : -11px;
    height : 22px;
    width : 22px;
}
.agenda_item .ui-slider-candidate-marker {
    background-image : url("./static/candidate_marker.png");
    position : absolute;
    top : -13px;
    z-index : 1;
    height : 35px;
    width : 12px;
}
.agenda_title {
    height : 21px;
    white-space : nowrap;
}
.agenda_title .name {
    color : #000;
}
.agenda_item .extra_info_wrapper {
    display : inline-block;
}
.agenda_item .extra_info_icon {
    background-image : url("./static/agenda_hint.png");
    display : inline-block;
    height : 21px;
    width : 20px;
    position : relative;
    vertical-align : top;
}
.agenda_item .extra_info {
    cursor : default;
    white-space : normal;
    background-color : #e9eaea;
    border-width : 3px;
    border-radius : 3px;
    border-style : solid;
    border-color : #00507d;
    box-shadow : 6px 6px 6px #999;
    display : none;
    position : relative;
    z-index : 11;
    max-height : 300px;
    width : 270px;
    padding : 12px 15px 15px 15px;
    font-size : 13px;
    font-weight : 400;
    word-wrap : break-word;
    vertical-align : top;
    overflow-y : auto;
}
.agenda_item .extra_info .name {
    color : #00507d;
    font-size : 14px;
    font-weight : 700;
}
.agenda_item .extra_info .owner {
    font-size : 14px;
}
.agenda_item .extra_info .description {
    margin-top : 8px;
}
.agenda_item .extra_info_wrapper:hover .extra_info {
    display : inline-block;
}


.current_party {
    width : 100%;
    margin-bottom : -40px;
    margin-top : 10px;
    position : relative;
}
#change_party {
    cursor : pointer;
    color : #aaa;
    display : inline-block;
    font-size : 13px;
    font-weight : 400;
    text-decoration : underline;
    position : absolute;
    top : 30px;
    right : 110px;
}
.current_party .current_party_logo_back {
    background-image : url("./static/party_logo_back.png");
    margin : 0 auto;
    height : 92px;
    width : 135px;
    position : relative;
    text-align : center;
    z-index : 2;
}
.current_party .current_party_logo {
    margin-top : 20px;
    height : 50px;
    max-width : 120px;
}
.current_party .current_party_name {
    padding-top : 30px;
    text-align : center;
}

.candidates_container {
    width : 500px;
    display : inline-block;
    margin-right : 29px;
    vertical-align : top;
}
.candidates_container .lists_wrapper {
    border-color : #03527e;
    border-width : 1px;
    border-style : solid;
    box-shadow : 0 0 10px #666;
    padding-bottom : 60px;
    position : relative;
    white-space : nowrap;
}
.candidates_container .lists_wrapper .left_background {
    background-image : url("./static/newbies_back.png");
    background-repeat : repeat;
    position  : absolute;
    left : 0;
    top : 0;
    bottom : 0;
    width : 50%;
}
.candidates_container .lists_wrapper > * {
    white-space : normal;
}
.members_container .title,
.newbies_container .title {
    color : #03537e;
    font-size : 14px;
    font-weight : 400;
    margin-right : 10px;
}
.members_container .title strong,
.newbies_container .title strong {
    font-weight : 700;
}
.members_container {
    display : inline-block;
    width : 50%;
    padding-top : 40px;
    vertical-align : top;
    position : relative;
}
.newbies_container {
    padding-top : 40px;
    display : inline-block;
    width : 50%;
    vertical-align : top;
    position : relative;
}
.candidate_instance {
    border-color : #03537e;
    border-width : 0 0 1px 0;
    border-style : solid;
    cursor : pointer;
    margin : 0 10px 0 10px;
    padding : 5px 0 5px 0;
    position : relative;
}
.candidate_instance .content {
    min-height : 60px;
}
.candidate_instance.selected .content {
    background-color : #f4f5e9;
    border-color : #069d4a;
    border-width : 2px;
    border-style : solid;
    border-radius : 4px;
    min-height : 90px;
    padding : 5px;
}
.candidate_instance.selected .image {
    height : 80px;
    width : 60px;
}
.candidate_instance .image {
    background-color : #eee;
    border-color : #348dc5;
    border-width : 1px;
    border-style : solid;
    border-radius : 2px;
    float : right;
    height : 60px;
    width : 47px;
    overflow : hidden;
    margin-left : 10px;
}
.candidate_instance:hover {
    color : #00507d;
}
.candidate_instance .image img {
    width : 100%;
}
.candidate_instance .info {
    margin-left : 20px;
}
.candidate_instance .name {
    font-size : 14px;
    font-weight : 700;
}
.candidate_instance .role_description {
    font-size : 12px;
    font-weight : 400;
    line-height : 120%;
}
.candidate_instance .score {
    color : #f8b617;
    font-size : 13px;
    font-weight : 700;
    position : absolute;
    left : 10px;
    top : 10px;
}
.candidate_instance .score.positive {
    color : #00507d;
}
.recommendations_container {
    vertical-align : top;
    margin-right : 11px;
}
.recommendations_container .caption {
    color : #00507F;
    font-size : 14px;
    font-weight : 600;
    margin : 10px 7px 0 0;
    width : 400px;
}
.recommendations {
    white-space : nowrap;
    width : 510px;
}
.recommendations > div {
    display : inline-block;
    height : 75px;
    max-width : 98px;
    font-size : 11px;
    padding-top : 1px;
    margin-top : 2px;
    overflow : hidden;
    vertical-align : top;
    white-space : normal;
}
.recommendation_item {
    padding : 5px 10px;
    cursor : pointer;
}
.recommendation_item img {
    height : 40px;
}
.recommendation_item.selected {
    background-color: #ccc;
    border-radius : 8px;
}

.social_bar {
    background-color : #464646;
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 40px;
}
.social_bar .vertical_aligner {
    display : inline-block;
    height : 100%;
    vertical-align : middle;
}
.social_bar .caption {
    color : #fff;
    display : inline-block;
    font-size : 14px;
    font-weight : 400;
    padding : 0 8px 1px 0;
    vertical-align : middle;
}
#fb_share {
    background-image : url("./static/fb_share.png");
    cursor : pointer;
    display : inline-block;
    height : 20px;
    width : 62px;
    margin : 2px 8px 0 0;
    vertical-align : middle;
}
#tweet_share {
    background-image : url("./static/twitter_share.png");
    cursor : pointer;
    display : inline-block;
    height : 22px;
    width : 57px;
    margin : 1px 8px 0 0;
    vertical-align : middle;
}



/* --------------- qna page ----------------- */
.qna_container {
    background-color : #bbb;
    box-shadow : 6px 6px 20px #888;
    border-radius : 0 0 8px 8px;
    width : 630px;
    margin : 0 auto 80px auto;
    direction : rtl;
    padding : 2px 15px 50px 35px;
}
.qna_container h1 {
    color : #00507d;
    font-size : 20px;
    font-weight : 700;
}
.qna_container .question {
    padding-right : 32px;
    margin-top : 20px;
    position : relative;
}
.qna_container .question .icon {
    background-image : url("./static/qna_icon.png");
    height : 30px;
    width : 30px;
    position : absolute;
    top : 0;
    right : -5px;
}
.qna_container .question h3 {
    color : #00507d;
    font-size : 16px;
    font-weight : 700;
    margin : 0;
    padding-top : 8px;
}
.qna_container .question p {
    color : #000;
    font-size : 14px;
    font-weight : 400;
    padding : 0;
    margin : 6px 0 0 0;
}
